body {
    overflow: hidden;
}

.player-one-container {
    position: absolute;
    height: 30%;
    width: 70%;
    top: 70%;
    left: 25%;
}

.one-actions {
    position: absolute;
    width: 40%;
    bottom: 20;
    left: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one-actions > button {
    max-width: 150px;
}
.one-info {
    position: absolute;
    top: -50px;
    width: inherit;
}
.one-name {
    position: absolute;
    font-size: 20px;
    color: dodgerblue;
}
.one-card-count {
    position: absolute;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.one-cards {
    border: 1px solid black;
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.player-two-container {
    position: absolute;
    height: 30%;
    width: 15%;
    bottom: 45%;
    left: calc(85% + 100px);
    border-radius: 25%;
    border: 1px solid black;
}

.two-info {
    position: absolute;
    top: 40%;
    left: 10%;
}

.two-name {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.two-card-count {
    font-size: 20px;
}
.two-cards {
    font-weight: bolder;
    font-size: 23px;
}


.player-three-container {
    position: absolute;
    height: 30%;
    width: 25%;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 25%;
}

.three-info {
    position: absolute;
    top: 65%;
    left: 40%;
}

.three-name {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.three-card-count {
    font-size: 20px;
}
.three-cards {
    font-weight: bolder;
    font-size: 23px;
}

.player-four-container {
    position: absolute;
    height: 30%;
    width: 15%;
    bottom: 45%;
    left: -100px;
    border-radius: 25%;
    border: 1px solid black;
}

.four-info {
    position: absolute;
    left: 60%;
    bottom: 40%;
}

.four-name {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.four-card-count {
    font-size: 20px;
}
.four-cards {
    font-weight: bolder;
    font-size: 23px;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 40%;
    height: 40%;
    transform: translate(-50%, -40%);
    border-radius: 50%;
    background-color:#8c5d3b;
    z-index: -1;
}

.current-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 240px;
    transform: translate(-50%, -50%);
}
.pile {
    position: absolute;
    top: 50%;
    left: 85%;
    width: 100px;
    height: 200px;
    transform: translate(-85%, -50%);
}
.current {
    color: green;
    font-size: 30px;
    font-weight: bold;
}